# LOAD FEATURE DATAFRAME TO DATABASE

___

In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

In [2]:
user_features_df = pd.read_csv('nikita_efremov_user_features_df.csv', index_col='user_id')

In [3]:
post_features_df = pd.read_csv('nikita_efremov_post_features_df.csv', index_col='post_id')

In [6]:
user_features_df

,gender,age,country,city,exp_group,os,source,count_actions,category_of_age,cluster_feature,month,day,second,weekday,is_weekend,part_of_day
user_id,,,,,,,,,,,,,,,,
200,1,34,Russia,Degtyarsk,3,Android,ads,401,adult,35,10,12,27.201031,1,0,Morning
201,0,37,Russia,Abakan,0,Android,ads,748,adult,66,10,11,28.867198,2,0,Afternoon
202,1,17,Russia,Smolensk,4,Android,ads,724,young,59,10,11,28.772727,2,0,Afternoon
203,0,18,Russia,Moscow,1,iOS,ads,382,young,56,10,10,26.937337,1,0,Morning
204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,161,adult,83,10,6,27.598765,1,0,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168548,0,36,Russia,Kaliningrad,4,Android,organic,382,adult,62,10,8,26.543814,1,0,Morning
168549,0,18,Russia,Tula,2,Android,organic,274,young,44,11,11,29.189286,1,0,Afternoon
168550,1,41,Russia,Yekaterinburg,4,Android,organic,407,adult,80,10,8,28.743276,1,0,Morning
168551,0,38,Russia,Moscow,3,iOS,organic,525,adult,46,10,16,30.477358,3,0,Morning
168552,1,16,Russia,Ivanteyevka,4,Android,organic,263,young,94,10,11,27.416974,1,0,Evening

In [7]:
post_features_df

,topic,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,feature_50
post_id,,,,,,,,,,,,,,,,,,,,,
1,business,0.005147,0.194684,0.026514,-0.073550,-0.149519,-0.025246,0.048262,-0.171380,-0.133012,...,-0.011544,-0.023413,0.011791,-0.001552,0.017969,-0.044012,0.003677,-0.019558,-0.000491,0.003684
2,business,-0.000803,0.218085,0.067561,0.077333,-0.054571,-0.002832,0.005895,-0.026975,-0.014726,...,0.017010,0.056739,-0.029615,0.021024,-0.043534,0.063448,0.003640,0.016381,0.009415,0.030641
3,business,-0.005729,0.163478,0.016925,-0.098532,-0.153892,-0.024022,0.039040,-0.133542,-0.084589,...,0.047376,-0.035591,-0.035618,0.047443,-0.021076,0.079652,-0.008630,-0.023912,-0.013965,-0.043979
4,business,0.010938,0.168339,0.025062,-0.063092,-0.153456,-0.016489,0.054549,-0.080640,-0.020966,...,0.037860,-0.093940,0.023425,-0.027543,-0.000297,-0.001030,0.021421,-0.000866,0.011163,0.009294
5,business,0.000350,0.122627,0.010034,-0.040647,-0.059208,-0.006183,-0.003240,-0.012149,0.010271,...,-0.006245,-0.013095,0.021840,0.032503,0.018094,0.002465,0.000435,-0.014145,-0.012585,0.013169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,movie,-0.164127,-0.151603,0.168022,-0.013667,0.019653,-0.006836,0.012401,0.029391,-0.024342,...,0.035005,-0.060823,-0.004729,-0.048264,-0.036474,-0.016131,-0.038833,0.010313,-0.006126,0.065839
7316,movie,-0.136358,-0.129865,0.106072,-0.004081,-0.055464,-0.004486,-0.006977,-0.005671,-0.015139,...,0.019378,-0.012702,-0.009105,0.019364,-0.032426,-0.027241,-0.036319,0.026237,0.033488,0.017149
7317,movie,-0.102380,-0.070634,-0.168156,0.079848,-0.034363,-0.001907,-0.012953,0.018627,-0.002254,...,0.049466,-0.022657,0.030182,0.026670,0.016062,0.001199,-0.032056,-0.075910,0.004267,-0.030648
7318,movie,-0.112783,-0.035907,-0.101418,0.058777,0.020219,-0.005851,0.033735,0.004234,-0.036716,...,0.010099,0.023951,-0.043248,-0.009566,-0.057804,0.008819,-0.024724,-0.009627,-0.001237,-0.005306
7319,movie,-0.049729,-0.026817,-0.037498,0.004651,-0.015252,-0.001884,-0.040828,-0.008328,0.020514,...,-0.011989,0.031159,0.010059,-0.023963,0.010736,0.006858,0.023884,-0.033263,-0.023023,-0.029715

In [8]:
def load_features_to_db(df: pd.DataFrame, name: str):
    df.to_sql(name, con=engine)
    return 'Loading completed'

In [9]:
load_features_to_db(user_features_df, 'nikita_efremov_user_features_df')

'Loading completed'

In [10]:
load_features_to_db(post_features_df, 'nikita_efremov_post_features_df')

'Loading completed'

In [11]:
df = pd.read_sql('SELECT * FROM nikita_efremov_user_features_df', con=engine, index_col='user_id')

In [12]:
df

,gender,age,country,city,exp_group,os,source,count_actions,category_of_age,cluster_feature,month,day,second,weekday,is_weekend,part_of_day
user_id,,,,,,,,,,,,,,,,
200,1,34,Russia,Degtyarsk,3,Android,ads,401,adult,35,10,12,27.201031,1,0,Morning
201,0,37,Russia,Abakan,0,Android,ads,748,adult,66,10,11,28.867198,2,0,Afternoon
202,1,17,Russia,Smolensk,4,Android,ads,724,young,59,10,11,28.772727,2,0,Afternoon
203,0,18,Russia,Moscow,1,iOS,ads,382,young,56,10,10,26.937337,1,0,Morning
204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,161,adult,83,10,6,27.598765,1,0,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168548,0,36,Russia,Kaliningrad,4,Android,organic,382,adult,62,10,8,26.543814,1,0,Morning
168549,0,18,Russia,Tula,2,Android,organic,274,young,44,11,11,29.189286,1,0,Afternoon
168550,1,41,Russia,Yekaterinburg,4,Android,organic,407,adult,80,10,8,28.743276,1,0,Morning
168551,0,38,Russia,Moscow,3,iOS,organic,525,adult,46,10,16,30.477358,3,0,Morning
168552,1,16,Russia,Ivanteyevka,4,Android,organic,263,young,94,10,11,27.416974,1,0,Evening

In [52]:
def batch_load_sql(query: str) -> pd.DataFrame:
    CHUNKSIZE = 200000
    engine = create_engine(
        "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
    )
    conn = engine.connect().execution_options(stream_results=True)
    chunks = []
    for chunk_dataframe in pd.read_sql(query, conn, chunksize=CHUNKSIZE):
        chunks.append(chunk_dataframe)
    conn.close()
    return pd.concat(chunks, ignore_index=True)

def load_features() -> pd.DataFrame:
    query = 'SELECT * FROM nikita_efremov_feature'
    return batch_load_sql(query)

In [54]:
df_1 = load_features()

In [55]:
df_1

,user_id,gender,age,country,city,exp_group,os,source,count_actions,category_of_age,...,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,feature_50,part_of_day,topic
0,200,1,34,Russia,Degtyarsk,3,Android,ads,401,adult,...,-0.004831,-0.004395,-0.002749,-0.002768,-0.003838,-0.003496,-0.005378,-0.003291,Afternoon,movie
1,201,0,37,Russia,Abakan,0,Android,ads,748,adult,...,-0.003363,-0.002610,-0.002905,-0.002383,-0.002466,-0.001954,-0.003388,-0.001596,Afternoon,movie
2,202,1,17,Russia,Smolensk,4,Android,ads,724,young,...,-0.002846,-0.003887,-0.003503,-0.004282,-0.002547,-0.003108,-0.002814,-0.003816,Evening,movie
3,203,0,18,Russia,Moscow,1,iOS,ads,382,young,...,-0.004616,-0.006999,-0.004537,-0.003671,-0.004947,-0.006008,-0.003755,-0.004889,Afternoon,movie
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,161,adult,...,-0.009359,-0.003777,-0.006624,-0.003969,-0.003782,-0.005109,-0.006665,-0.005466,Afternoon,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic,382,adult,...,-0.003785,-0.002997,-0.003835,-0.002908,-0.003193,-0.003415,-0.004304,-0.003666,Evening,movie
163201,168549,0,18,Russia,Tula,2,Android,organic,274,young,...,-0.003896,-0.006984,-0.004236,-0.006059,-0.005308,-0.006353,-0.003941,-0.004360,Afternoon,movie
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic,407,adult,...,-0.002848,-0.001641,-0.001649,-0.004402,-0.000972,-0.001942,-0.003873,-0.001487,Evening,movie
163203,168551,0,38,Russia,Moscow,3,iOS,organic,525,adult,...,-0.005109,-0.002331,-0.002817,-0.003519,-0.003280,-0.004275,-0.002587,-0.004157,Morning,movie
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic,263,young,...,-0.005166,-0.006446,-0.004708,-0.006469,-0.005053,-0.005442,-0.006191,-0.005906,Afternoon,movie